@model EntityFrameworkExample.Models.Barrel

@{
    ViewBag.Title = "Add";
}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>Create</h2>
        </div>
        <div class="col-sm-4">
            @Html.ActionLink("Back", "Index")
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Radius, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Radius, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Radius, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.ConstructionMaterial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem { Text = "Wood", Value = "/Images/Wood.png" });
                    listItems.Add(new SelectListItem { Text = "Iron", Value = "/Images/Iron.png" });
                    listItems.Add(new SelectListItem { Text = "Stone", Value = "/Images/Stone.png" });
                    listItems.Add(new SelectListItem { Text = "Obsidian", Value = "/Images/Obsidian.png" });
                    listItems.Add(new SelectListItem { Text = "Diamond", Value = "/Images/Diamond.png" });
                }

                @Html.DropDownListFor(model => model.ConstructionMaterial, listItems, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CurrentLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CurrentLocation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CurrentLocation, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <!--Start-->
    @Html.LabelFor(model => model.Contents, htmlAttributes: new { @class = "control-label col-md-2" })

    <div class="row" id="content1">
        <div class="form-group dynamic-element">
            <div class="col-md-10">
                <input class="form-control" name="contents" id="input1" />
            </div>
        </div>
        <div class="row" id="add1">
            <p onclick="showContents(2),hideAdd(1)">Add more Contents</p>
        </div>
    </div>

    <div class="row" id="content2">
        <div class="form-group dynamic-element">
            <div class="col-md-10">
                <input class="form-control" id="input2" />
                <p id="delete2" onclick="hideContents(2),showAdd(1)">Remove Contents</p>
            </div>
        </div>
        <div class="row" id="add2">
            <p onclick="showContents(3),hideAdd(2)">Add more Contents</p>
        </div>
    </div>

    <div class="row" id="content3">
        <div class="form-group dynamic-element">
            <div class="col-md-10">
                <input id="input3" class="form-control" />
                <p id="delete2" onclick="hideContents(2),showAdd(1)">Remove Contents</p>
            </div>
        </div>
        <div class="row" id="add3">
            <p onclick="showContents(4),hideAdd(3)">Add more Contents</p>
        </div>
    </div>
    <div class="row" id="content4">
        <div class="form-group dynamic-element">
            <div class="col-md-10">
                <input id="input4" class="form-control" />
                <p id="delete2" onclick="hideContents(4),showAdd(3)">Remove Contents</p>
            </div>
        </div>
        <div class="row" id="add4">
            <p onclick="showContents(5),hideAdd(4)">Add more Contents</p>
        </div>
    </div>
    <div class="row" id="content5">
        <div class="form-group dynamic-element">
            <div class="col-md-10">
                <input id="input5" class="form-control" />
                <p id="delete2" onclick="hideContents(5),showAdd(4)">Remove Contents</p>
            </div>
        </div>
    </div>




    <!--End-->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-12">
            <input onclick="submitt()" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
    }
</div>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

