@model EntityFrameworkExample.Models.Barrel
@{
                /**/

                ViewBag.Title = "Details";
}

	<div class="container">
		<div class"row">
			<div class="col-sm-8">
				<h1>Barrel ID: @Model.Id</h1>
			</div>
			<div class="col-sm-4">
				@Html.ActionLink("Back", "Index")
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="row">
					<h2>
						Weight
					</h2>
				</div>
				<div class="row">
					@Html.DisplayFor(model => model.Weight)
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<h2>
						Radius
					</h2>
				</div>
				<div class="row">
					@Html.DisplayFor(model => model.Radius)
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<h2>
						Height
					</h2>
				</div>
				<div class="row">
					@Html.DisplayFor(model => model.Height)
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-8">
						<h2>
							Construction Material
						</h2>
					</div>
					<div class="col-sm-4">
						<!-- MINECRAFT BLOCK-->
					</div>
				</div>
				<div class="row">
					@Html.DisplayFor(model => model.ConstructionMaterial)
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<h2>
						Current Location
					</h2>
				</div>
				<div class="row">
					@Html.DisplayFor(model => model.CurrentLocation)
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<h2>
						Contents
					</h2>
				</div>
				<div class="row">
					<ul>
						@if (Model.Contents != null && !Model.Contents.Equals(""))
						{
							foreach (var item in Model.Contents.Replace(" ", "").Split(','))
							{
								<li>
									@Html.DisplayFor(modelItem => item)
								</li>
							}
						}
					</ul>
				</div>
			</div>
		</div>
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

			<div class="form-actions no-color">
				<input type="submit" value="Archive" class="btn btn-default" />
			</div>
		}
	</div>